* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.menu-1 /* Botão Home*/ {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-top: 8px;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

.menu-2 /* Botão Projetos */{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-top: 8px;
    color: white;
    cursor: pointer;
}

.menu-3 /* Botão Jogo */{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-top: 8px;
    color: white;
    cursor: pointer;
}

.menu-4 /* Botão Contato */{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white;
    padding-top: 8px;
    padding-right: 15px;
    cursor: pointer;
}


.projeto1 a {
    display: flex;
    padding-top: 30px;
}
.title-projeto a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white;
    padding-left: 8px;
}

/* Barra preta no topo da página */
.options {
    display: flex;
    justify-content: space-between;
    background-color: rgb(90, 90, 90);
    height: 50px;
}

.vitrine {
    display: flex;
    justify-content: space-evenly;
}

.vitrine img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.gato {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center
}

.gato1 {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center
}


.gato1 img {
    width: 150px;
    border-radius:50%;
}
.gato img {
    width: 200px;
    border-radius: 50%;
}


.rodape a {
    display:grid;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-top: 8px;
}

.rodape {
    background-color:rgb(90, 90, 90);
}