* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuidar do menu home */
.menu-home {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

/* Cuidar dos textos */
header {
    padding: 15px 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

header li {
    display: inline-block;
    margin: 0 10px;
}

header a {
    text-decoration: none;
    color: white;
}

/* Fazer tratamento de imagens */

    /* Arredondar imagens na div "Images" e mudar o tamanho da imagem */
.images img {
    border-radius: 50%;
    max-width: 350px
}

.images img, a {
    display: inline-block;
}


    /* Arredondar imagens na div "projetos" e mudar o tamanho da imagem */
.container img {
    max-width: 180px;
    border-radius: 50%;
}

.coluna{
    float: left;
    width: 33.3%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }