* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4b4b4b;
    font-family: "Poppins", sans-serif;
}

/* Cuida da animação de menu de contatos inferior */
.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50vh;
}

.wrapper .icon i {
    color: #fff;
    transition: .4s linear;
}


    /* Criar animação de risquinhos cobrindo a imagem */
.wrapper .icon::before,
.wrapper .icon::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.wrapper .icon:hover::before {
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
    color: rgb(209, 219, 255);
}

.wrapper .icon:hover::after {
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
    color: rgba(241, 134, 134, 0.356);
}

.wrapper .icon {
    position:relative;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer
}

    /* Criar animação de sair texto das imagens */
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top:-45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


/* Cuidar do menu home */
.menu-home {
    max-width: 2000px;
    margin: auto;
    padding: 0 2%;
    background-color:black
}

/* Cuidar dos textos */
header {
    padding: 15px 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

header li {
    display: inline-block;
    margin: 0 10px;
}

header a {
    text-decoration: none;
    color: white;
}

/* Fazer tratamento de imagens */

    /* Arredondar imagens na div "Images" e mudar o tamanho da imagem */
.images img {
    border-radius: 50%;
    max-width: 350px;
}

.images img, a {
    display: inline-block;
    vertical-align: middle;

}



    /* Arredondar imagens na div "projetos" e mudar o tamanho da imagem */
.container img {
    max-width: 180px;
    border-radius: 50%;
}

.coluna{
    float: left;
    width: 33.3%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }